
    body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      padding-bottom: 60px; 
    }

    .layout {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      min-height: 100vh;
    }

     .side{
    background-color: #4b3621;
    min-height: 100vh;   
    padding: 60px 20px 100px 70px;
    color: white;
    }

    .center{
     padding: 40px;
     padding-top: 80px;  
     display: flex;
     justify-content: center;
    }

    .form-box {
      width: 100%;
      max-width: 750px;
      background: white;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0px 8px 25px rgba(0,0,0,0.4);
    }

    input, select, textarea {
      margin-bottom: 10px;
      padding: 8px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #aaa;
      box-sizing: border-box;
    }

    button {
      background: #013220;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 10px;
      font-size: 15px;
      cursor: pointer;
      width: 100%;
      margin-top: 8px;
    }

    button:hover {
      background: #d4af37;
      color: white;
    }

    .profile-box{
    text-align: left;
    padding: 35px 20px;
    border-radius: 50px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 15px;
   }

    #ds{
    width: 220px;
    height: auto;      
    border-radius: 50px;
    object-fit: contain; 
    display: block;
    align-self: center;
   }

    #de{
    width: 220px;
    height: 130px;
    border-radius: 20px;
    object-fit: cover;
    background: white;
    align-self: center;
  }

    #dis {
      display: none;
      position: fixed;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      gap: 10px;
      align-items: center;
    }

    #chatInput {
      width: 500px;
      background-color: #BDC7D1;
      padding: 10px;
      border-radius: 20px;
      border: none;
    }
    
    .footer {
      bottom: 0;
      position: fixed;
      left: 0;
      width: 100%;
      background-color: #4b3621;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-align: center;
    }
    .menu-btn{
  position: fixed;
  background: transparent;
  top: 20px;
  left: 20px;
  width:10px;
  height:20px;
  font-size: 26px;
  color: white;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 2000;
}
    .menu-btn:hover{
  background: transparent;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: none;
  z-index: 1500;
}

.side-menu{
  position: fixed;
  top: 0;
  left: -320px;
  width: 300px;
  height: 100%;
  background: #4b3621; 
  transition: 0.3s ease;
  z-index: 1800;
  padding-top: 20px;
  box-shadow: 5px 0px 20px rgba(0,0,0,0.5);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}

.menu-header h2{
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
}

.close-btn{
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.side-menu a{
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: 0.2s;
}

